* {
    box-sizing: border-box;
    font-family: Georgia, serif;
    /* lt. Vorgabe */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
    /* lt. Vorgabe */

    font-weight: bold;
    /* lt. Vorgabe */
}

.wrapper {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
}

main {
    background: #C0F46B;
    padding: 0.3em;
}

.flex-container {
    display: flex;
    flex-direction: row;

    flex-direction: row;

}

header {
    height: 6em;
}

.box {
    height: 100%;
    min-width: 20em;
    flex-grow: 1;
    justify-content: center;
}

img {
    height: 100%;
}

/* menu nav */

nav {
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    padding: 0;
    margin: 0;
    background-color: #3F6503;
    /* lt. Vorgabe */
}

nav a {
    font-family: Verdana, sans-serif;
    /* lt. Vorgabe */

    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    min-width: 8em;
    float: left;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
    /* flex: 1 1 0; */
}

nav li:hover {
    background-color: #8BD415;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    background-color: #D9F4AD;
    padding: 1em;
}

.center {
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wappen {
    max-width: 60%;
    background-color: #68843A;
    padding: 0.2em;
}

iframe {
    width: 50%;
    height: auto;
}

/* lt. Vorgabe */
.col img {
    max-width: 8em;
}

.listNone {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.vidContainer {
    position: relative;
    /* lt. Vorgabe */
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table, tr, th, td {
    border-collapse: collapse;
    border: 0.1em solid lightgray;
    padding: 0.2em;
    margin: 0.1em;
}